<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spotter (Spotify Menu Bar Player).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C6F9FBC1EDCF6B60086D072</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>0C6F9FCD1EDCF6B70086D072</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>0C6F9FD81EDCF6B70086D072</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
